$jade: #04a96d;
$basalt: #4b4b4b;
$ladder-start: #3c52a7;
$ladder-end: #3c52a7;
$snake-end: #b46f86;
$snake-start: #b46f86;
$sulfur: #fee082;

@mixin flex-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.board {
  display: grid;
  grid-template-columns: repeat(10, 2.5rem);
  grid-gap: 0.25rem;
  padding: 0.25rem;
  width: fit-content;
  position: relative;
  background-color: $basalt;
  border-radius: 1rem;
  max-width: 90vw;
  max-height: calc(100dvh - 12rem);
  overflow: scroll;
  filter: drop-shadow(2px 2px 2px $basalt);
  &:hover {
    filter: drop-shadow(4px 4px 4px $basalt);
  }
  @media screen and (min-width: 600px) {
    grid-template-columns: repeat(10, 3.5rem);
    grid-gap: 0.35rem;
    padding: 1rem;
  }
  @media screen and (min-width: 900px) {
    grid-template-columns: repeat(10, 5rem);
    grid-gap: 0.5rem;
    padding: 1rem;
  }
  &::-webkit-scrollbar {
    display: none;
  }
}

.tile {
  position: relative;
  width: 2.5rem;
  height: 2.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 0.75rem;
  background: url('/icons/pattern.svg') repeat;
  background-color: $jade;
  background-position: center;
  background-size: contain;
  border: 2px solid $jade;
  border-radius: 0.5rem;
  z-index: 1;
  &:hover {
    box-shadow: 1px 1px 2px $sulfur, -1px -1px 2px $sulfur;
  }
  @media screen and (min-width: 600px) {
    border: 2px solid $jade;
    width: 3.5rem;
    height: 3.5rem;
  }
  @media screen and (min-width: 900px) {
    border: 0.25rem solid $jade;
    width: 5rem;
    height: 5rem;
    font-size: 1rem;
  }
  &:has(.player),
  &:has(.ai) {
    z-index: 5;
    box-shadow: 1px 1px 2px $sulfur, -1px -1px 2px $sulfur;
  }
}

.pyramid {
  background: url('/icons/pyramid.webp');
  background-color: $sulfur !important;
  background-position: center;
  background-size: contain;
  .index {
    display: none;
  }
}

.dualIndex {
  @include flex-center;
  span {
    display: flex;
    position: absolute;
    color: white;
  }
}

.index {
  top: 1px;
  @media screen and (min-width: 600px) {
    top: 4px;
  }
}

.end {
  font-weight: bold;
  bottom: 1px;
  @media screen and (min-width: 600px) {
    bottom: 4px;
  }
}

.reverse {
  .index {
    bottom: 1px !important;
    @media screen and (min-width: 600px) {
      bottom: 4px !important;
    }
    top: unset;
  }
  .end {
    top: 1px !important;
    @media screen and (min-width: 600px) {
      top: 4px !important;
    }
    bottom: unset;
  }
}

.arrowDown,
.arrowUp {
  display: none;
  @media screen and (min-width: 900px) {
    display: flex;
  }
}

.arrowUp {
  transform: rotate(270deg);
}

.arrowDown {
  transform: rotate(90deg);
}

.dualPlayer {
  display: flex;
  justify-content: space-between;
  .player,
  .ai {
    width: 1rem;
    height: 1rem;
    @media screen and (min-width: 600px) {
      width: 2rem;
      height: 2rem;
    }
  }
}

.player,
.ai {
  width: 2rem;
  height: 2rem;
  @media screen and (min-width: 600px) {
    width: 4rem;
    height: 4rem;
  }
}

.ai {
  background: url('/players/eagle.webp');
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

.sulfur {
  background-color: $sulfur !important;
}

.borderTop,
.borderBottom,
.borderLeft,
.borderRight {
  border-width: 2px;
  border-style: solid;
  border-color: transparent;
  @media screen and (min-width: 600px) {
    border-width: 0.25rem;
  }
}

.borderTop {
  border-top-color: $sulfur;
}

.borderBottom {
  border-bottom-color: $sulfur;
}

.borderRight {
  border-right-color: $sulfur;
}

.borderLeft {
  border-left-color: $sulfur;
}

.snakeStart,
.snakeEnd,
.ladderStart,
.ladderEnd {
  background-color: $jade;
  z-index: 3;
  @media screen and (min-width: 600px) {
    border-width: 0.25rem;
  }
}

.snakeStart {
  &.borderTop {
    border-top-color: $snake-start;
  }
  &.borderBottom {
    border-bottom-color: $snake-start;
  }
  &.borderRight {
    border-right-color: $snake-start;
  }
  &.borderLeft {
    border-left-color: $snake-start;
  }
  background: url('/icons/snake.webp') repeat;
  background-position: center;
  background-size: contain;
  background-blend-mode: luminosity;
  background-color: $jade;
  span {
    color: $snake-end;
  }
}

.ladderStart {
  background: url('/icons/stair.webp') repeat;
  background-position: center;
  background-size: contain;
  background-blend-mode: luminosity;
  background-color: $jade;
  &.borderTop {
    border-top-color: $ladder-end;
  }
  &.borderBottom {
    border-bottom-color: $ladder-end;
  }
  &.borderRight {
    border-right-color: $ladder-end;
  }
  &.borderLeft {
    border-left-color: $ladder-end;
  }
  span {
    color: $ladder-end;
  }
}

.snakeEnd {
  background-blend-mode: color;
  span {
    color: $snake-start;
  }
}

.ladderEnd {
  background-blend-mode: screen;
  span {
    color: $ladder-start;
  }
}

.connections {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
  @media screen and (min-width: 900px) {
    display: flex;
  }
}

.snake,
.ladder {
  stroke-width: 8;
  stroke-linecap: round;
  opacity: 0.25;
  stroke-dasharray: 16;
  fill: none;
}

.snake {
  stroke: $snake-start;
  animation: dash 5s ease-out infinite;
  animation-direction: reverse;
}

.ladder {
  stroke: $ladder-end;
  animation: dash 3s ease-in infinite;
  animation-direction: reverse;
}

.gameOver {
  @include flex-center;
  position: absolute;
  z-index: 6;
  border: 1rem solid $sulfur;
  border-radius: 0.5rem;
  width: 90%;
  height: 70%;
  top: 15%;
  left: 5%;
  background-color: $jade;
  box-shadow: 4px 4px 4px $basalt, -4px -4px 4px $basalt;
  &:hover {
    box-shadow: 8px 8px 8px $basalt, -8px -8px 8px $basalt;
  }
  button {
    background-color: $jade;
    margin-top: 2.5rem;
    margin-bottom: 2.5rem;
    cursor: pointer;
    font-size: 0.75rem;
    font-weight: bold;
    padding: 1rem 2rem;
    border: 0.5rem solid $basalt;
    color: $basalt;
    box-shadow: 1px 1px 1px $basalt, -1px -1px 1px $basalt;
    &:hover {
      box-shadow: 2px 2px 2px $basalt, -2px -2px 2px $basalt;
    }
  }
  .images {
    @include flex-center;
    flex-direction: row;
    gap: 1rem;
    max-width: 100%;
    overflow: hidden;
    img {
      width: 50%;
      height: 50%;
      animation: shake 2s ease-out infinite;
    }
  }
  h2 {
    color: $basalt;
    font-size: 1.5rem;
    margin-top: 1rem;
  }
  @media screen and (min-width: 600px) {
    button {
      font-size: 1rem;
    }
    .images {
      gap: 3rem;
      img {
        width: 100%;
        height: 100%;
      }
    }
    h2 {
      font-size: 2.5rem;
      margin-top: 2rem;
    }
    width: 90%;
    height: 70%;
    top: 15%;
    left: 5%;
  }
}

.moving {
  position: relative;
  animation: shake 1s ease-out;
}

@keyframes shake {
  0% {
    transform: translate(1px, 1px) rotate(0deg);
  }
  20% {
    transform: translate(-3px, 0px) rotate(1deg);
  }
  40% {
    transform: translate(1px, -1px) rotate(1deg);
  }
  60% {
    transform: translate(-3px, 1px) rotate(0deg);
  }
  80% {
    transform: translate(-1px, -1px) rotate(1deg);
  }
  100% {
    transform: translate(1px, -2px) rotate(-1deg);
  }
}

@keyframes dash {
  to {
    stroke-dasharray: 16;
    stroke-dashoffset: 100;
  }
}
