$jade: #04a96d;
$basalt: #4b4b4b;

.diceContainer {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 2rem;
  margin-bottom: 2rem;
  padding: 0.25rem;
  background-color: $jade;
  border: 0.25rem solid $basalt;
  border-radius: 8px;
  &.Roll {
    animation: roll 1s ease-in-out infinite;
  }
  filter: drop-shadow(2px 2px 2px $basalt);
  &:hover {
    filter: drop-shadow(4px 4px 4px $basalt);
  }
}

.dice {
  cursor: pointer;
  filter: drop-shadow(2px 2px 2px $basalt);
  &:hover {
    filter: drop-shadow(4px 4px 4px $basalt);
  }
}

.statusText {
  margin-top: 1rem;
  width: 6rem;
  text-align: center;
  color: $basalt;
  font-weight: bold;
}

.rolling {
  animation: rolling 0.1s infinite;
}

@keyframes rolling {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes roll {
  0%,
  100% {
    transform: scale(1);
    background-color: $jade;
  }
  50% {
    transform: scale(1.025);
    background-color: lighten($jade, 5%);
  }
}
