$jade: #04a96d;
$basalt: #4b4b4b;

.diceContainer {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 2rem;
  margin-bottom: 2rem;
  padding: 0.25rem;
  background: url('/icons/pattern.svg') repeat;
  background-color: $jade;
  background-position: center;
  background-size: contain;
  border: 0.25rem solid $basalt;
  border-radius: 8px;
}

.dice {
  cursor: pointer;
}

.statusText {
  margin-top: 1rem;
  width: 6rem;
  text-align: center;
  color: $basalt;
  font-weight: bold;
}

.rolling {
  animation: rolling-animation 0.1s infinite;
}

@keyframes rolling-animation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
