$jade: #04a96d;
$basalt: #4b4b4b;

@mixin flex-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.game {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.main {
  @include flex-center;
  justify-content: flex-start;
  padding: 1rem;
  max-width: 100vw;
  height: 100vh;
  overflow: scroll;
  user-select: none;
  position: relative;
  background-color: $jade;
  background: url('/icons/pattern.svg') repeat;
  color: #fff;
}
