$jade: #04a96d;
$basalt: #4b4b4b;
$stair: #3c52a7;
$snake: #b46f86;

.container {
  max-width: 50rem;
  max-height: 75%;
  padding: 3rem 2rem;
  background-color: $jade;
  color: $basalt;
  border: 0.5rem solid $basalt;
  border-radius: 0.5rem;
  text-align: center;
  filter: drop-shadow(4px 4px 4px $basalt) drop-shadow(-4px -4px 4px $basalt);
  &:hover {
    filter: drop-shadow(8px 8px 8px $basalt) drop-shadow(-8px -8px 8px $basalt);
  }
  img {
    margin-bottom: 1rem;
  }
}

.subtitle {
  font-size: 1.5em;
  margin-bottom: 10px;
  text-align: center;
}

.instructions {
  color: white;
  margin-top: 1rem;
  font-size: 1rem;
  max-height: 80%;
  overflow: scroll;
  list-style-type: none;
  text-align: center;
  li {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 1rem;
    img {
      margin-right: 1rem;
      margin-bottom: 0;
    }
    .bg,
    .snake {
      background-color: $jade;
      border: 0.25rem solid;
      border-radius: 0.5rem;
    }
    .bg {
      border-top-color: $stair;
      border-bottom-color: $stair;
      border-left-color: $jade;
      border-right-color: $jade;
    }
    .snake {
      border-top-color: $jade;
      border-bottom-color: $jade;
      border-left-color: $snake;
      border-right-color: $snake;
    }
  }
}
