$jade: #04a96d;
$basalt: #4b4b4b;

.container {
  max-width: 95%;
  max-height: 50%;
  padding: 3rem 2rem;
  background-color: $jade;
  color: $basalt;
  border: 0.5rem solid $basalt;
  border-radius: 0.5rem;
}

.subtitle {
  font-size: 1.5em;
  margin-bottom: 10px;
  text-align: center;
}

.instructions {
  margin-left: 20px;
  font-size: 1.1em;
  max-height: 50%;
  overflow: scroll;
  list-style-type: decimal;
  li {
    margin-bottom: 10px;
  }
}
