$jade: #04a96d;
$basalt: #4b4b4b;

.container {
  max-width: 50rem;
  max-height: 75%;
  padding: 3rem 2rem;
  background-color: $jade;
  color: $basalt;
  border: 0.5rem solid $basalt;
  border-radius: 0.5rem;
  text-align: center;
  filter: drop-shadow(4px 4px 4px $basalt) drop-shadow(-4px -4px 4px $basalt);
  &:hover {
    filter: drop-shadow(8px 8px 8px $basalt) drop-shadow(-8px -8px 8px $basalt);
  }
  img {
    margin-bottom: 1rem;
  }
}

.subtitle {
  font-size: 1.5em;
  margin-bottom: 10px;
  text-align: center;
}

.instructions {
  margin-top: 1rem;
  font-size: 1rem;
  max-height: 75%;
  overflow: scroll;
  list-style-type: none;
  text-align: center;
  li {
    img {
      margin-right: 0.5rem;
      margin-bottom: 0;
    }
    .bg {
      background-color: $basalt;
      border-radius: 0.5rem;
    }
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 1rem;
  }
}
