$jade: #04a96d;
$basalt: #4b4b4b;
$sulfur: #fee082;

@mixin flex-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.sidebar {
  position: fixed;
  top: 0;
  right: -20rem;
  width: 20rem;
  background-color: $basalt;
  transition: right 0.3s ease-in-out;
  z-index: 10;
  border: 1rem solid $jade;
  padding: 2rem;
  li {
    cursor: pointer;
    list-style: none;
    margin-left: 2.5rem;
    margin-top: 2.5rem;
    margin-bottom: 2.5rem;
    font-weight: bold;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 1rem;
    &:hover {
      img {
        filter: drop-shadow(2px 2px 2px $jade);
        transform: scale(1.25);
      }
      a {
        color: $sulfur;
        font-size: 125%;
      }
    }
    a {
      font-weight: bold;
      color: $jade;
      white-space: nowrap;
      transition: all 1s ease;
    }
    img {
      filter: drop-shadow(1px 1px 1px $jade);
      transition: all 1s ease;
    }
  }
}

.sidebarToggle {
  position: fixed;
  top: 2rem;
  right: 2rem;
  cursor: pointer;
  z-index: 11;
  filter: drop-shadow(-2px 2px 2px $basalt);
  &:hover {
    filter: drop-shadow(-4px 4px 4px $basalt);
  }
}

.sidebar.open {
  right: 0;
  box-shadow: -4px 4px 4px $basalt;
  &:hover {
    box-shadow: -8px 8px 8px $basalt;
  }
}

.sidebarToggle.open {
  filter: drop-shadow(-2px 2px 2px $jade);
  &:hover {
    filter: drop-shadow(-4px 4px 4px $jade);
  }
}

.sidebarContent {
  padding: 1rem;
}

.close {
  margin-top: 1rem;
  margin-bottom: 1rem;
  background-color: $jade;
  cursor: pointer;
  font-size: 0.75rem;
  font-weight: bold;
  padding: 1rem 2rem;
  border: 0.5rem solid $basalt;
  border-radius: 0.5rem;
  color: $basalt;
  filter: drop-shadow(2px 2px 2px $basalt) drop-shadow(-2px -2px 2px $basalt);
  &:hover {
    filter: drop-shadow(4px 4px 4px $basalt) drop-shadow(-4px -4px 4px $basalt);
  }
}

.modal {
  @include flex-center;
  position: absolute;
  top: 0;
  z-index: 10;
  width: 100vw;
  height: 100dvh;
}
